body a			{ color: black; text-decoration: none;}
body a:visited { color: black; text-decoration: none;}
body a:hover	{ color: #7d0049; text-decoration: underline;}


/* the idea is to have 4 complimentary colors that 
 * are used throughout the opac.  Edit those colors
 * in this file
 */
 
.color_1 { background: #acc4de; color: #000000; }
.color_2 { background: #acc4de; color: #000000; }
.color_3 { background: #d1e1a2; color: #000000; }
.color_4 { background: #d1e1a2; color: #000000; }

.border_1 { border: 1px solid #6699cc; }
.border_2 { border: 1px solid #6699cc; }
.border_3 { border: 1px solid #ddeeff; }
.border_4 { border: 1px solid #ddeeff; }

.border_1_2 { border: 2px solid #6699cc; }
.border_2_2 { border: 2px solid #6699cc; }
.border_3_2 { border: 2px solid #ddeeff; }
.border_4_2 { border: 2px solid #ddeeff; }

.border_1_3 { border: 3px solid #6699cc; }
.border_2_3 { border: 3px solid #6699cc; }
.border_3_3 { border: 3px solid #ddeeff; }
.border_4_3 { border: 3px solid #ddeeff; }

/* some facet styling */
.facetClassContainer { margin: 2px; border: 1px solid #6699cc; }
.facetClassLabelContainer { background: #acc4de; border: 1px solid #acc4de; }
.facetClassLabel { font-weight: bold; text-align: center; }
.facetFieldContainer { background: #d1e1a2; }
.facetFieldLabel { padding-left: 2px; margin-top: 5px; margin-bottom: 5px; font-weight: bold; text-align: left; }
.extraFacetFieldsWrapper { }
.toggleExtraFacetFieldsButton { float: right; margin: 0px; padding: 0px; }
.facetFieldLineCount { display: inline-block; border-right: 1px solid #acc4de; color: gray; width: 3em; margin-right: 3px }
.facetField { border-top: 1px solid #acc4de; }
.facetFields { padding-left: 5px; }
.facetFieldLineValue { overflow: hidden; text-overflow: ellipsis; }



/* general purpose light borders */
.border_5 { border: 1px solid #D0D0D0; }
.border_6 { border: 1px solid #808080; }

input:focus { background: #e5f1fd; color: #000000;}
a:focus { background: #e5f1fd; color: #000000;}


/* ---------------------------------------------------------------------- */

.canvas { /* main content div for each page */
    border-left: 3px solid #7fa2ca;
    border-bottom: 3px solid #7fa2ca;
	border-top: 3px solid #7fa2ca;
}

/* border around home search box */
.home_search { border: 3px solid #7fa2ca; }

/* main nav sidebar */
.sidebar_item_active { background: #acc4de; }

/* record detail summary block */
.rdetail_desc { border: 1px solid #6699cc; }
.rdetail_item { border: 1px solid #6699cc; }
.rdetail_extras_selected { background: #d1e1a2;} 


.data_grid thead tr { background: #acc4de; color: #000000; }
.data_grid thead td { border: 1px solid #808080; }
.data_grid tbody td { border: 1px solid #6699cc; }
.data_grid_nb thead tr { background: #6699cc; color: #000000; }
.data_grid_nb thead td { border: none; }
.data_grid_nb tbody td { border: none; }

.light_border { border: 1px solid #99ccff; }

.adv_quick_search_submit { border-bottom: 3px solid #99ccff;}

.myopac_link_active { background: #ddeeff; }

.sidebar_extra_link { text-decoration: none; }
#searchbar_tag_on { color: red; }
.searchbar_item { color: black; } 
#login_box { border-top: 1px solid #7fa2ca; border-bottom: 1px solid #7fa2ca; }
#next_prev_links_dead { color: #808080; text-decoration: none; }

.nav_link_active {font-weight: bold;}

.search_link { text-decoration: none; color: #0e63ba;}
.result_table_subtable { border-bottom: 1px solid #acc4de;}

.copy_count_cell { border-right: 1px solid #E0E0E0; } 
.copy_count_div {	border-left: 2px solid #99ccff; border-right: 2px solid #99ccff; }

#rdetail_image_cell { border: 1px solid white; border-right: 1px solid #99ccff;}

/* For slimpac */
.maintable { border-collapse: collapse; border: 3px solid #6699cc; -moz-border-radius: 6px; padding: 6px; margin-top: 65px; }
.greenrow  { border: 1px solid #D0D0D0; background: #ddeeff; }
.bluerow   { border: 1px solid #D0D0D0; background: #6699cc; }
.rowpad    { height: 20px; }

.footer_link { margin-left: 10px; margin-right: 10px; }

.indent0 { padding-left: 0px; }
.indent1 { padding-left: 10px; }
.indent2 { padding-left: 20px; }


